<template name="searchBox">
  <div class="navbar-form navbar-right">
    <input name="searchBox" id="searchBox" type="text" class="form-control" placeholder="Search">
  </div>
</template>

<template name="search">
  <div class="page-header clearfix">
    <h4 class="pull-left">Search Results...</h4>
    <!--
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="500px" placeholder="Find a post or tag...">
    </div>
    -->
  </div>

  <ul class="list-group">
    {{#if searching}}
      {{> loading}}
      <p>buscando</p>
    {{else}}
      {{#each posts}}
        {{> postItem}}
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}.</p>
      {{/each}}
    {{/if}}
  </ul>
</template>