<template name="postItem">
  <div class="post">
    <div class="vote btn-group">
      <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
      <a href="#" class="downvote btn btn-default {{downvotedClass}}">⬇</a>
    </div>
    <div class="post-content">
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
      <p class="tags">
        {{#unless isEmpty tags}}
          {{#each tag}}
            <a href="#" class="label label-default">#{{this}}</a>
          {{/each}}
        {{/unless}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>